<div class="row">
  <div class="col-sm-2">
    <h4><%= @user.username %></h4>
    <p>Posts: <%= @user.pins.count %></p>
  </div>
  
  <div class="col-sm-10">
    <div id="pins" class="transitions-enabled">
    <% @user.pins.reverse.each do |pin| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(pin.image.url(:medium)), pin_path(pin), remote: true, class: 'static-popup-link' %>
        <div class="modal" id="myModal" tabindex="-1" role="dialog" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">Loading...</div>
        <div class="panel-body">
          <p><%= pin.description %></p>
          <p><strong>
          <%= link_to pin.user.username, user_path(pin.user) %>
        </strong></p>
          
          <% if current_user && pin.user == current_user %>
            <div class=actions">
              <%= link_to edit_pin_path(pin) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %>
              <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                Delete
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  
</div>